<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles Parking</title>

    <script src="/web/static/js/main.js" defer></script>
    <script src="/web/static/js/details.js" defer></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>

    <section>
        <h2>Detalles del Parking</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Plazas Totales</th>
                <th>Plazas Reservadas</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody id="parkingDetailsTbody">

            </tbody>
        </table>
    </section>

    <section>
        <h2>Plazas</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Referencial</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody id="parkingSpotsTbody">

            </tbody>
        </table>
    </section>
</body>
</html>