<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <script src="/web/static/js/main.js" defer></script>
    <script src="/web/static/js/index.js" defer></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>
    <section>
        <section>
            <h2>Añadir Parking</h2>

            <label for="name">Nombre del Parking</label>
            <input type="text" id="name" required/>

            <label for="total_spots">Numero de Plazas</label>
            <input type="number" id="total_spots" required/>

            <button onclick="post()">Send</button>
        </section>

        <section>
            <h2>Acciones Generales</h2>

            <button 
                onclick="delgeneral()" 
                title="Elimina toda la información de la app (Parkings, Plazas, Usuarios...). También reinicia todas las ID de la base de datos.">
                ELIMINAR TODO
            </button>

            <button 
                onclick="postgeneral()" 
                title="Añade varios ejemplos de parkings e información variada.">
                AÑADIR EJEMPLOS
            </button>
        </section>
    </section>

    <section>
        <h2>Parkings</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Parking</th>
                    <th>Plazas Totales</th>
                    <th>Plazas Reservadas</th>
                    <th>Opciones</th>
                </tr>
            </thead>

            <tbody id="parkingTbody">

            </tbody>
        </table>
    </section>

    <!--Auto Get Script-->
    <script>
        window.onload = function() {
            get();
        };
    </script>
</body>
</html>